.page-footer {
	padding: 60px 15px;
	background-color: var(--footer-background-color);
}

.page-footer__container {
	display: flex;
	align-items: baseline;
}

/* -----LOGO----- */
.page-footer__logo {
	padding: 0;
	margin-right: 0;
	margin-bottom: 20px;
	color: var(--third-text-color);
}

/* -----address----- */
.address__link {
	color: var(--third-text-color);
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;

	transition: color var(--transition-duration) var(--timing-function);
}

.address__link:focus,
.address__link:hover {
	color: var(--accent-color);
}

/* -----CONTACTS----- */
.footer-contacts__link {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.71;

	transition: color var(--transition-duration) var(--timing-function);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
	color: var(--accent-color);
}

.footer-contacts {
	margin-top: 9px;
}

.footer-contacts__item:not(:last-child) {
	margin-bottom: 9px;
}

/* -----NETWORK----- */
.network {
	margin-left: 70px;
}

.network__title,
.follow__title {
	color: var(--third-text-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.network__list {
	display: flex;
	margin-top: 20px;
}

.network__item {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	width: 44px;
	height: 44px;
	margin-left: 10px;
}

.network__item--margin {
	margin-left: 0px;
}

.network__link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #afb1b8;

	transition: color var(--transition-duration) var(--timing-function),
		background-color var(--transition-duration) var(--timing-function);
}

.network__icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
}

.network__link:hover,
.network__link:focus {
	background-color: var(--accent-color);
	color: var(--third-text-color);
}

/* ----- FORM FOLLOW----- */

.follow {
	margin-left: auto;
}

.follow__form {
	display: flex;
	margin-top: 20px;
}

.follow__input {
	width: 358px;
	height: 50px;
	padding: 15px;

	margin-right: 12px;

	background-color: rgba(47, 48, 58, 1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}

.follow__input::placeholder {
	line-height: 1.25;

	color: rgba(255, 255, 255, 0.6);
}

.follow__icon {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	fill: #ffffff;
}
